/*justify-content: end;*/
/*justify-content: start;*/

.gameplay_buttons {
  margin: 0.2rem;
  width: 3.5rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: bold;
}

.main_buttons {
  margin: 0.2rem;
  width: 5.6rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: bold;
}

.pause_menu_buttons {
  margin: 0.2rem;
  width: 5.6rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: bold;
}

.pause_menu {
  border-radius: 12px;
  background-color: rgb(170, 195, 209);
  margin: 2rem auto;
  width: 6rem;
  height: 10rem;
  max-width: 50%;
  color: rgb(2, 2, 2);
  border: 2px solid #000000;
  font-weight: bold;
  padding: 1rem;
}

.options_menu {
  border-radius: 12px;
  background-color: rgb(199, 209, 170);
  margin: 2rem auto;
  width: 11.7rem;
  height: 11.5rem;
  max-width: 50%;
  color: rgb(2, 2, 2);
  border: 2px solid #000000;
  font-weight: bold;
  padding: 1rem;
}

.gameplay {
  border-radius: 12px;
  background-color: rgb(209, 170, 170);
  margin: 2rem auto;
  width: 16rem;
  height: 10rem;
  max-width: 50%;
  color: rgb(2, 2, 2);
  border: 2px solid #000000;
  font-weight: bold;
  padding: 1rem;
}

.main_menu {
  border-radius: 12px;
  background-color: rgb(170, 209, 182);
  margin: 2rem auto;
  width: 12rem;
  height: 12rem;
  max-width: 50%;
  color: rgb(2, 2, 2);
  border: 2px solid #000000;
  font-weight: bold;
  padding: 1rem;
}

.option_buttons {
  margin: 0.2rem;
  width: 4rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: bold;
}

.instructions_menu {
  border-radius: 12px;
  background-color: rgb(208, 170, 209);
  margin: 2rem auto;
  max-width: 50%;
  color: rgb(2, 2, 2);
  border: 2px solid #000000;
  font-weight: bold;
  padding: 1rem;
  width: 23rem;
  height: rem;
}

.instructions_button {
  margin: 0.2rem;
  width: 4rem;
  height: 2rem;
  border-radius: 12px;
  font-weight: bold;
}

.list_item {
  padding: 0.3rem;
}
